/* src/Components/LoginAndRegistration/Register.css */

/* General container styling */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: auto;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Add padding for better spacing */
}

/* Header styling */
form h1 {
    text-align: center;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form img {
    display: block;
    margin: 0 auto 20px;
}

/* Register button styling */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive layout for mobile devices */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 15px;
    }
}

input[type=email], select {
    border: transparent;
    background-color: transparent;
}

input[type=email]:focus, select:focus {
    border-color: #4da6ff; /* Change border color on focus */
}

.registration_text_class {
    width: 100%;
    height: auto;
    padding: 14px;
    margin-top: 10px; /* Reduced margin */
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 0; /* Removed rounded corners */
}

.registration_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    color: white;
    text-align: center;
    background-color: #007bff;
}

.page-container {
    max-width: 30%;
    max-height: 30%;
    margin: 25rem auto;
    padding: 10px;
    border-radius: 8px;
}

.form-group {
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin-bottom: 10px; /* Adjust this value as needed */
}